body {
    background: #121212;
}

main {    
    background: #121212     ;
    background-repeat: no-repeat;
} 

/* Just centers any element. */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.investigator-image img{
    width: 30%;
    height: auto;
}

/* The Searchbar */
#search-term {
    font: normal 125% Arial, "Times New Roman", Times, serif;
    font-weight: normal;
    border: 1px solid #848484;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	outline:0;
	height:25px;
    padding: 25px 100px 25px 100px;
    text-align: center;  
}

/* ----
    originalArtist defines the central picture and the text accompaning it.
---- */

.originalArtist {
    font: normal 200% Arial, "Times New Roman", Times, serif;
    margin: 3% 0% 3% 0%;
}

.originalArtist img {
    max-width: 300px;
}


/* ----
    Container makes a grid
    The classes with the names of the websites define where they go in the grid.
---- */

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 15px 15px;
    width: 80%;
    grid-auto-flow: row;
}

.container img {
    max-width: 300px;
    max-height: 300px;
}

/* ----
    .block has the real content of the page, each square of the grid is defined generically, oposite to the previous classes
    .searchEngine is the name of the search engine used
    .searchResults are the search's results
    .block a elements define interactions with the hyperlinks
---- */


.block {
    min-height: 400px;
    max-height: 400px;
    margin: -2% 0% 0% 2%;
    overflow: auto;
    border: none;
    font: normal 16px/1 arial, Geneva, sans-serif;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #212121;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.searchEngine {
    text-align: left;
    font: normal 16px/1 arial, Geneva, sans-serif;
    color: #121212;
    background-color: #1ed760 ;
    padding: 0% 2% 0% 0%;
}

.searchResults {
    padding: 0% 0% 2% 0%;
}

.block a:link { text-decoration: none }
.block a:link {color:rgb(255, 255, 255);}
.block a:visited {color: #ffffff;}
.block a:hover {text-decoration: none; color: #a98aff; font-weight:normal;}


/* The Footer */

footer {
    padding: 1% 1% 1% 1%;
}

footer a:link { text-decoration: none;}