@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic elements */
.navbar {
  background-color: #000000;
}

body {
  background: #121212;
    height: 100vh;
    width: 100vw;
}

/* Icon and search bar */
  .main-icon-div {
    background-color: #212121;
    display: inline; }

/* Just centers any element. */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.distance {
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}

/* Artist texts and images */
.any-artist-text {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 31px;
word-spacing: -1.6px;
color: #000000;
font-weight: 400;
text-decoration: rgb(68, 68, 68);
background: #ffffff;
padding: 1%;
}

.any-artist-img {
  max-width: 500px;
  min-width: 200px;
}

.block a:link { text-decoration: none }
.block a:link {color:rgb(255, 255, 255);}
.block a:visited {color: #ffffff;}
.block a:hover {text-decoration: none; color: #a98aff; font-weight:normal;}