@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic elements */

body {
  background: #121212;
}

.distance {
  padding-bottom: 20%;
}

/* Icon and search bar */
  .main-icon-div {
    background-color: #212121;
    display: inline; }

/* Just centers any element. */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Artist texts and images */
.artist-name {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 31px;
word-spacing: -1.6px;
color: #000000;
font-weight: 400;
text-decoration: rgb(68, 68, 68);
background: #ffffff;
padding: 2%;
margin-bottom: 0%;
}

.any-artist {
  margin: 3% 0% 3% 0%;
  display: inline;
  content: center;
  text-align: center;
}

.any-artist img {
  max-width: 500px;
  min-width: 200px;
}

/* ----
  .block has the real content of the page, each square of the grid is defined generically, oposite to the previous classes
  .block a elements define interactions with the hyperlinks
---- */

.block {
  min-height: 400px;
  max-height: 40%;
  overflow: auto;
  border: none;
  font: normal 16px/1 arial, Geneva, sans-serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #212121;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  display: block;
  max-width: 40%;
  min-width: 20%;
}

.block a:link { text-decoration: none }
.block a:link {color:rgb(255, 255, 255);}
.block a:visited {color: #ffffff;}
.block a:hover {text-decoration: none; color: #a98aff; font-weight:normal;}