{% extends 'Display/base/base.html' %}

{% load static %}

{% block title %}I am Error!{% endblock %}

{% block content %}

<style>    
    .full-page-span {
    margin-top: 5%;
    height: 85vh; }
</style>
<div class="full-page-span">
    <div class="center">
        {% include './includes/searchbar-for-nested.html' %}
    </div>
    <div class="center">
        {% if error == 404 %}
            <h1>Whoops! It seems like the ID {{ id }} does not belong to an artist!</h1>
        {% endif %}
    </div>
</div>


{% endblock %}